@media (min-width: 500px){

h1{color:rgb(255, 255, 255); font-family: 'Roboto', sans-serif; font-size: 20px; text-align: center;}

p{color:chocolate; font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif; text-align: justify; padding-top: 20px;}

h3{text-align: center; color:#fff;}

.col-1{width:100%;}
.col-2{width: 100%;}

}


@media (min-width: 768px){

    h1{color:red; font-family: 'Roboto', sans-serif; font-size: 25px; text-align: center;}
    
    p{color:rgb(0, 0, 0); font-size: 16px; font-family: 'Be Vietnam Pro', sans-serif; text-align: justify; padding-top: 20px;}

    h3{text-align: center; color:#fff;}

    .col-1{width:50%;}
    .col-2{width: 100%;}
    
    }

@media (min-width: 1024px){

    h1{color:red; font-family: 'Roboto', sans-serif; font-size: 25px; text-align: center;}

    .col-1{width:33.3%;}
    .col-2{width: 33.3%;}
    h3{text-align: center; color:cornsilk;}
}

.custom-color{background-color: #0a2032; padding-top: 20px;}

    .center{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }
    
    
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }