@media (min-width: 32.5em){

h1{color:blue; font-family: 'Roboto', sans-serif; font-size: 20px;}

p{color:chocolate; font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif;}

}


@media (min-width: 64em){

    h1{color:red; font-family: 'Roboto', sans-serif; font-size: 25px;}
    
    p{color:rgb(255, 238, 0); font-size: 16px; font-family: 'Be Vietnam Pro', sans-serif;}
    
    }
    