.header-title{

    text-align: center;
    font-size: 40px;
    
    }
    
    .center{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    
    .titles{
    
    text-align: center;
    
    }
    
    .p-text{
    
        text-align: justify;
    
    }
    
    /*Hamburger menu*/

    /*Navigation*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  border-bottom: 1px solid #ffffff00;
  background-image: linear-gradient(to right, #291368, #46127e, #2b1369);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c49b66;
}

.overlay{
    display: none;
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #c49b66;
}

.nav-link:hover{
    color: #fff;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
      z-index:9;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}


/*Footer*/
* {
    outline: none !important;
}
.site-quick-support {
    padding-bottom: 0;
    overflow: hidden;
}
.section-white, .section-blue {
    margin: 0;
    padding: 80px 0;
    display: block;
    width: 100%;
    clear: both;
    background: white;
    text-align: center;
    overflow: hidden;
}
.site-quick-support .contact-box {
    float: left;
    width: 100%;
    border-radius: 12px;
    height: 640px;
}
.blue-purple-gredient {
    background: #836aeb;
    background: rgba(50,187,241,1);
    background: -moz-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,187,241,1)), color-stop(68%, rgba(166,73,233,1)), color-stop(100%, rgba(166,73,233,1)));
    background: -webkit-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: linear-gradient(135deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bbf1', endColorstr='#a649e9', GradientType=1 );
}
.site-quick-support .site-info {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 0;
    border-right: rgba(255,255,255,0.4) solid 1px;
    padding: 80px 40px;
}
.site-quick-support h5 {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
}
.site-quick-support .site-info p {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 1.7;
    padding: 40px 0 40px 0;
}
.site-quick-support p, .site-quick-support address {
    float: left;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 1.125rem 0;
    width: 100%;
    font-style: normal;
    margin: 0;
    padding: 0 0 0 52px;
    transition: 300ms linear;
    transition-property: color;
    line-height: 1.5;
}
a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: #a549e9;
}
a {
    text-decoration: none;
    color: #2b8dd9;
    transition: 300ms linear;
    transition-property: color;
    display: inline-block;
}
.site-quick-support .site-box-row h6 {
    float: left;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.site-quick-support .site-box-row {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.site-quick-support p, .site-quick-support address {
    float: left;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 1.125rem 0;
    width: 100%;
    font-style: normal;
    margin: 0;
    padding: 0 0 0 52px;
    transition: 300ms linear;
    transition-property: color;
    line-height: 1.5;
}
.site-quick-support .site-info.form {
    border: none;
}
.site-quick-support .site-info {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 0;
    border-right: rgba(255,255,255,0.4) solid 1px;
    padding: 80px 40px;
}
.site-quick-support h5 {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
}
.site-contact-form {
    padding: 40px 0 0 0;
    display: block;
    width: 100%;
    clear: both;
    margin: 0;
}
.site-contact-form label {
    margin-bottom: 0.875rem;
    display: block;
    margin-right: 0;
    color: #FFFFFF !important;
}
.site-contact-form input, .site-contact-form textarea {
    width: 100%;
    height: 45px;
    background-color: inherit;
    padding: 0;
    color: #FFFFFF !important;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    border-bottom: #FFFFFF solid 1px;
    box-sizing: border-box;
    transition: 300ms linear;
    transition-property: border-color;
    display: block;
    margin: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
/*End footer*/