
@media all and (min-width: 900px) {
  /* Desktop menu */
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
  /*Wrapper*/
  .main-section{
    display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px auto 80px;
  grid-gap: 20px;

  grid-template-areas:
                    "leftbar    main     rightbar"
                    "leftbar    main     rightbar"
                    "leftbar    main     rightbar"
                      "footer   footer   footer";
  }

img {
  width: 200px;
}



.wrapper{
  color: white;
  font-size: 20px;
  padding: 20px;
  grid-area: main;
}

.wrapper-2 {
  grid-area: main;
}

.left-side-1{
  grid-area: leftbar;
}

.left-side-2{
  grid-area: leftbar;
}

.left-side-3{
  grid-area: leftbar;
}

.right-side-1{
  grid-area: rightbar;
}
.right-side-2{
  grid-area: rightbar;
}
.right-side-3{
  grid-area: rightbar;
}

}