.header-title{

text-align: center;
font-size: 40px;

}

.center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.titles{

text-align: center;

}
